@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&family=Wix+Madefor+Display&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Wix Madefor Display', sans-serif;
    background-color: #F8EFE0;
}
/* navbar */

.navbar {
    min-height: 80px;
    background-color: #F8EFE0;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    font-family: 'Wix Madefor Display', sans-serif;
}


#logoId {
    color: black;
    font-size: x-large;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    transition: 1s ease;
}

#logoId:hover {
    color: orangered;
    letter-spacing: 2px;
    transition: 1s ease;
}

.navbar a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

/* navbar */



.slider {
 max-height: 350px;
}

.slider img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

/* slider de imagenes */

/* seccion tienda */

.seccionTienda {
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
}

.seccionTienda a {
    margin-left: 20px;
    color: black;
}

.divider {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    height: 3px;
    background-color: black;
}
